.navbar{
    background-color: black;
}

.logo{
    background : url("../../assets/niko.png");
    height : 50px;
    width : 50px;
}


.navpadding {
    padding-left : 35;
}

.downarrow{
    vertical-align: super; 
    font-size : 12px;
}

.user{
    position: relative;
}

.userdropdown{
    position : absolute;
    height: 160px;
    width: 300px;
    border-radius : 5px;
    top : 60px;
    right: 25px;
    z-index: 100;
}

.uslink{
    color: rgb(218, 206, 206);
    font-size: 14px;
    font-weight: bold;
}
.uslinklog{
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.uslinklog:hover{
    color: rgb(37, 148, 185);
    opacity: 0.8;
}

.uslink:hover{
    color: rgb(37, 148, 185);
    opacity: 0.8;
}

.logout{
    color: white;
    height : 50%;
    width : 100%;
    background-color: rgb(164, 240, 94);
    box-sizing: border-box;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.iconsize{
    font-size: 20px;
}

.iconsizelog{
    font-size : 30px;
}

.padding{
    padding : 10px;
}

.nlink:hover{
    background-color: red;
    opacity: 1 ;
}

.marginzero{
    margin: 0px;
    padding : 0px;
}